.container{
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    
}

.logo{
    width: 200px;
    cursor: pointer;
}
p:hover{
    color: #01ce69;
    border-bottom: 2px solid #01ce69;
    width: calc(100%-150px);
}
.navbar {
    width: 88%;
    margin: auto;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    z-index: 999;
    overflow: hidden;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.navbar ul li a {
    width: auto;
    margin: 0 70px;
    font-size: 25px;
    margin-left: 0;
    display: grid;
    place-items: center;
    padding: 0 20px;
    text-decoration: none;
    color: #000;
}

.navbar ul li a:hover{
    color: #01ce69;
    border-bottom: 2px solid #01ce69;
    width: calc(100% - 150px);
}